body {
  background-color: blue;
}

header {
  position: fixed;
  max-width: 100%;
  width: 100%;
}

/*nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}*/

.main {
  position: relative;
}

.hero {
  /*padding: 0 20% 30% 20%;*/
  position: relative;
  background-color: purple;
  border: 2px solid;

}

.projects{
  width: 1000px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
  /*display: flex;
  flex-wrap: wrap;*/
  background-color: green;
}

/*.boxes {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin:.5em 1em .5em .5em;
}*/

.boxes .two{
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10% 50%;

}

/*.boxes li {
  display: flex;
  margin:.5em 1em .5em .5em;
  /*justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;*/
  /*margin: .5em 2em;*/
  /*height: 4em;
  width: 4em;
  border: 1px black solid;
  text-decoration: none;
} */


.hero h1 {
  padding: 10% 0;
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: 1.5em;
}
