@media screen and (max-width: 800px){

   .boxes {
     display: none;
   }

   .show-projects {
     margin: 0 auto;
     width: 5em;
     height: 5em;
     border: none;
     outline: none;
     background-color: black;
     /*margin-top: 40%;*/
     border-radius: 1.3em;
     color: white;
     font-family: fantasy;
     font-size: 1em;
     z-index: 99999999;
   }
}

@media screen and (min-width: 700px){
    .show-projects {
      display: none;
    }

    .boxes {
      display: flex;
      flex-wrap: wrap;
      height: 100%:
    }

   .box-photo {
     width: 100%;
     height: relative;
   }
}
