@media screen and (max-width: 800px){

   .boxes {
     display: none;
   }
   
   .show-projects {
     width: 5em;
     height: 5em;
     border: .1em black solid;
     background-color: black;
     margin-top: 40%;
     border-radius: 1.3em;
     color: white;
     font-family: fantasy;
     font-size: 1em;
     z-index: 99999999;
   }
}

@media screen and (min-width: 800px){
    .show-button {
      display: none;
    }

}
