@media screen and (max-width: 800px){
   .projects{
     display:block;
   }

   article.boxes{
     width:35%;
     margin:5%;
   }
   /*.box-photo {
     width: 50%;
     height: 50%;
   }*/

   .show-projects {
     margin: 0 auto;
     background: none;
     border: none;
     outline: none;
     color: white;
     font-family: 'Montserrat', sans-serif;
     font-size: 1em;
     z-index: 99999999;
   }
}

@media screen and (min-width: 700px){
    .show-projects {
      display: none;
    }

    .boxes {
      display: flex;
      flex-wrap: wrap;
      height: 100%:
    }

   .box-photo {
     width: 100%;
     height: relative;
   }
}
